<% if @courses %>
	<label>
		Select a course to connect to:
		<br>
		<%= select_tag(:course_id, options_for_select( @courses.collect {|c| [ c['name'], c['id'] ] }, 1), :include_blank => true ) %>
	</label>

	<!--

	<%= link_to "Save and Publish to Canvas", syllabus_path(@syllabus.edit_id, canvas: true), :authenticity_token => form_authenticity_token(), :method => :put, :remote => true, :id => 'tb_send_canvas' %>

	-->

<% else %>
	You do not appear to be connected to an LMS.
<% end %>

<div id="compilation_tabs">
  <ul>
    <li><a href="#example_tab">Example</a></li>
    <li><a href="#clipboard_tab">Clipboard</a></li>
    <li class="right"><a href="#help_tab">Help</a></li>
  </ul>
  <div id="example_tab">
  	<%= render :partial => 'layouts/global/example' %>
  </div>
  <div id="clipboard_tab">
  	<div class="editableHtml">
      Select a course in the list above to load your syallabus into the clipboard.
    </div>
  </div>
  <div id="help_tab">
  	<%= render :partial => 'layouts/global/help' %>
  </div>
</div>

<script>
(function($) {
	$(function(){
		console.log($);
		$('#compilation_tabs').tabs();
	});
}(jQuery));

var courses = <%= raw(@courses.to_json) %>;
</script>