<div class="container">
  <div class="col-sm-12">
    <p class="pull-left">
      Reports for <%= @org.name %>
    </p>
    <div class="pull-right">
      <% if params[:show_archived] %>
        <%= link_to "Reports", admin_auditor_reports_path, class: "btn btn-info"%>
      <% else %>
        <%= link_to "Archived Reports", admin_auditor_reports_path(show_archived: true), class: "btn btn-info"%>
      <% end %>
    </div>

    <div class="clearfix"></div>
      <% @reports.each do |report| %>
      <hr>
      <div class="pull-right">
        <div class="">
          <% if params[:show_archived] %>
            <%= link_to "Restore Report #{report.id}", admin_auditor_restore_report_path(report: report.id), class: "btn btn-primary"%>
          <% else %>
            <%= link_to "Archive Report #{report.id}", admin_auditor_archive_report_path(report: report.id), class: "btn btn-danger"%>
          <% end %>
          <% if File.exist?("/tmp/#{@org.slug}_#{report.id}.zip")%>
            <%= link_to "Download Report #{report.id}", admin_auditor_download_path(report: report.id), class: "btn btn-success"%>
          <% end %>
        </div>
      </div>
      <p>
        Report #<%=report.id%>
        <a class="" href="/admin/report?report=<%=report.id%>">Load report</a>
      </p>
      <ul>
        <%if report.generating_at%>
        <li>
          Report queued <%= time_ago_in_words report.generating_at%> ago
        </li>
        <%end%>
        <%if report.updated_at != report.created_at%>
          <li>Last generated  <%=  time_ago_in_words report.updated_at%> ago</li>
        <%end%>
        <% if report.report_filters %>
        <li>
            Filters: <%=report.report_filters['account_filter']%>
        </li>
        <% end %>
      </ul>
      <% end %>
  </div>
</div>
