<div class="container">
  <div class="col-sm-12">
    <p class="pull-left">
      Reports for <%= @org.name %>
    </p>

    <div class="clearfix"></div>
      <% @reports.each do |report| %>
      <hr>
      <% if File.exist?("/tmp/#{@org.slug}_#{report.id}.zip")%>
      <div class="pull-right">
        <div class="">
          <%= link_to "Download Report #{report.id}", admin_auditor_download_path(report: report.id), class: "btn btn-success"%>
        </div>
      </div>
      <% end %>
      <p>
        Report #<%=report.id%>
        <a class="" href="/admin/report?report=<%=report.id%>">Load report</a>
      </p>
      <ul>
        <%if report.generating_at%>
        <li>
          Report queued <%= time_ago_in_words report.generating_at%> ago
        </li>
        <%end%>
        <li>Last generated  <%=  time_ago_in_words report.updated_at%> ago</li>
        <% if report.report_filters %>
        <li>
            Filters: <%=report.report_filters['account_filter']%>
        </li>
        <% end %>
      </ul>
      <% end %>
  </div>
</div>
