<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <title><%= content_for?(:title) ? yield(:title) : "Salsa: styled & accessible learning service agreements" %></title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "home", :media => "all" %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= salsa_partial "home/layout_error" %>

    <%= salsa_partial "home/masthead" %>

    <div class="content">

      <%= salsa_partial "home/content" %>

      <%= salsa_partial "home/footer" %>
    </div><!-- .content -->

    <%= salsa_partial "home/scripts" %>
  </body>
</html>
