    <form id="controlPanel">
    
        <aside class="schedule">

            <% if @lms_course %>
                <div class="admin">
                    <div style="position: relative; z-index: 999999; background: #eee;">
                        <header>Admin</header>
                        <div align="center">
                            <a style="background: #fee;line-height: 2; display: block; color: #600; text-decoration: none; font-weight: bold;" href="#resetDocument">Reset Document</a>

                            <% if @document.version > 2 %>
                                <a style="text-decoration: none;" href="/lms/courses/<%= @lms_course['id'] %>/version/1">&laquo;</a>
                            <% end %>
                            <% if @document.version > 1 %>
                                <a style="text-decoration: none;" href="/lms/courses/<%= @lms_course['id'] %>/version/<%= @document.version - 1 %>">&lt;</a>
                            <% end %>
                            v<%= @document.version %>
                            <% if params[:version].to_i > 0 && params[:version].to_i < @document.versions.count + 1 %>
                                <a style="text-decoration: none;" href="/lms/courses/<%= @lms_course['id'] %>/version/<%= @document.version + 1 %>">&gt;</a>
                            <% end %>
                            <% if params[:version].to_i > 0 && params[:version].to_i < @document.versions.count %>
                                <a style="text-decoration: none;" href="/lms/courses/<%= @lms_course['id'] %>">&raquo;</a>
                            <% end %>
                        </div>
                    </div>

                    <dl>
                        <dt><strong>Events</strong></dt>
                        <dd class="activity">New</dd>
                        <dd class="" data-calendar='{"id": "purpose@admin"}'>Faculty Panel</dd>
                        <dd class="" data-calendar='{"id": "library@admin"}'>Library Workshop</dd>
                        <dd class="" data-calendar='{"id": "tech@admin"}'>Technology Workshop</dd>
                    </dl>
                </div>
            <% end %>
            
            <header>Schedule</header>
            <div class="user" >
                <dl >
                    <dt ><strong>My Activities</strong></dt>
                    <dd class="activity" >New</dd>
                </dl>
            </div>

            <div class="required" >
                <dl>
                    <dt><strong>Required</strong></dt>
                    <dd class="" data-calendar='{"id": "new_required"}' >New Required</dd>
                    <dd class="" data-calendar='{"id": "purpose_required"}' id="purpose_required">Purpose of College</dd>
                    <dd class="" data-calendar='{"id": "literature_required"}' id="literature_required">Literature Experience</dd>
                    <dd class="" data-calendar='{"id": "writing_required"}' id="writing_required">College Writing Expectations</dd>
                    <dd class="" data-calendar='{"id": "overcoming_required"}' id="overcoming_required">Overcoming Challenges</dd>
                    <dd class="" data-calendar='{"id": "strategies_required"}' id="strategies_required">Academic Strategies</dd>
                    <dd class="" data-calendar='{"id": "planning_required"}' id="planning_required">Academic Planning</dd>
                    <dd class="" data-calendar='{"id": "resources_required"}' id="resources_required">Student Resources</dd>
                    <dd class="" data-calendar='{"id": "connecting_required"}' id="connecting_required">Connecting to Campus</dd>
                    <dd class="" data-calendar='{"id": "community_required"}' id="community_required">Learning Community</dd>
                    <dd class="" data-calendar='{"id": "bystander_required"}' id="bystander_required">Bystander Intervention</dd>
                    <dd class="" data-calendar='{"id": "time_required"}' id="time_required">Time Management</dd>
                </dl>
            </div>    

            <div class="supplemental">
          
                <dl>
                    <dt class="workshops" data-length="00:30:00"><strong>Supplemental</strong></dt>
                    <dt style="display:block;">Workshops</dt>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/f7codoh91itqs18htoi7qipi5o%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>Become a Learner</dd>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/th5okhkuj32pj75irrrcr2hb20%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>Finding your Passion</dd>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/gnatg3dmsbkb6vvcgr4anqq3ko%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>Healthy Eating 101</dd>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/3h5vfjbf0s38lk6nmdtoaakttc%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>Parking</dd>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/ilpeb1v75sngg8fjl83j3stiuk%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>Student Health</dd>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/9spd3vo91hd2i1r8fb89fv19j4%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>Study Abroad</dd>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/97j8euj6efo62tc09g0khm7sf4%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>Sustainability</dd>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/tiev0e95l663s6hsucho43r450%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>USU Police</dd>     
                    </dl>
                <dl>
                    <dt class="service">Service Learning</dt>
                    <dd class="" data-calendar='{"id": 20}'>Service Project</dd>
                </dl>
                <dl>
                    <dt class="team_building">Team Building</dt>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/7a5ha8oth8pj7jrnq7deedev40%40group.calendar.google.com/public/basic", "className":" aggie-icecream","restrictToTitle":"available"}'><span class="fi-calendar"></span>Aggie Ice Cream</dd>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/m9m2nugfuonoe68q6j0tvbo8mg%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>Canoes</dd>
                    <dd class="calendar" data-calendar='{"url":"https://www.google.com/calendar/feeds/v9iidp53ooucjko7l6rjtvji10%40group.calendar.google.com/public/basic", "className":"","restrictToTitle":"available"}'><span class="fi-calendar"></span>CVTD</dd>
                   <dd class="" data-calendar='{"id": "hiking@team_building"}'>Hiking</dd>
                </dl>
            </div> 

    </aside> <!-- .schedule -->

    <aside class="information" data-target="#information .content">
        <header>Information</header>
        <section class="first" data-target="header" onmouseover="liteOn(title1I,'#F5F5F5')" onmouseout="liteOff(title1I)">
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(title1I,'#F5F5F5')" onmouseout="liteOff(title1I)">
                <legend>spacing</legend>
                <label for="firstI_Add">Add spacing to Information h1</label>
                <input type="button" name="firstI_Add" id="firstI_Add" value="+">
                <label for="firstI_Remove">Remove spacing from Information h1</label>
                <input type="button" name="firstI_Remove" id="firstI_Remove" value="-">
            </fieldset>
            <fieldset data-method="toggleContent" data-element="div" data-text='["Course Name", "Course Number | Term/Year","Text","Text","Text"]' data-max="5" data-min="2" data-target="h1" onmouseover="liteOn(title1I,'#F5F5F5')" onmouseout="liteOff(title1I)">
                <legend>text</legend>
                <label for="firstIh1_Add">Add text line to Information h1</label>
                <input type="button" name="firstIh1_Add" id="firstIh1_Add" value="+">
                <label for="firstIh1_Remove">Remove text line from titleInformation h1</label>
                <input type="button" name="firstIh1_Remove" id="firstIh1_Remove" value="-">
            </fieldset>
        </section>

        <section data-target=".section1">
            <header data-method="toggleContent" onmouseover="liteOn(section1I,'#F5F5F5')" onmouseout="liteOff(section1I)">Contacts
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section1I,'#F5F5F5')" onmouseout="liteOff(section1I)">
                <legend>spacing</legend>
                <label for="1I_Add">Add spacing to Contacts h2</label>
                <input type="button" name="1I_Add" id="1I_Add" value="+">
                <label for="1I_Remove">Remove spacing from Contacts section</label>
                <input type="button" name="1I_Remove" id="1I_Remove" value="-">
            </fieldset>
            <fieldset data-method="toggleContent" data-element=".contact" data-max="4" data-min="1" data-template="#contact_template" data-target='.contacts' onmouseover="liteOn(contacts1I,'#F5F5F5')" onmouseout="liteOff(contacts1I)">
                <legend>contacts</legend>
                <label for="1IContact_Add">Add Contact h3 and text editor</label>
                <input type="button" name="1Ih3_Add" id="1Ih3_Add" value="+">
                <label for="1Ih3_Remove">Remove h3 h3 and text editor</label>
                <input type="button" name="1Ih3_Remove" id="1Ih3_Remove" value="-">
            </fieldset>
        </section>

        <section data-target=".section2">
            <header data-method="toggleContent" onmouseover="liteOn(section2I,'#F5F5F5')" onmouseout="liteOff(section2I)">Course Dates
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="1" data-step="12px" onmouseover="liteOn(section2I,'#F5F5F5')" onmouseout="liteOff(section2I)">
                <legend>spacing</legend>
                <label for="2I_Add">Add spacing to Course Dates h3</label>
                <input type="button" name="2I_Add" id="2I_Add" value="+">
                <label for="2I_Remove">Remove spacing from Course Dates h3</label>
                <input type="button" name="2I_Remove" id="2I_Remove" value="-">
            </fieldset>
        </section>

        <section data-target=".section3">
            <header data-method="toggleContent" onmouseover="liteOn(section3I,'#F5F5F5')" onmouseout="liteOff(section3I)">Required Texts
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="1" data-step="12px" onmouseover="liteOn(section3I,'#F5F5F5')" onmouseout="liteOff(section3I)">
                <legend>spacing</legend>
                <label for="3I_Add">Add spacing to Required Texts h3</label>
                <input type="button" name="3I_Add" id="3I_Add" value="+">
                <label for="3I_Remove">Remove spacing from Required Texts h3</label>
                <input type="button" name="3I_Remove" id="3I_Remove" value="-">
            </fieldset>
        </section>

        <section data-target=".section4">
            <header data-method="toggleContent" onmouseover="liteOn(section4I,'#F5F5F5')" onmouseout="liteOff(section4I)">Course Fee
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section4I,'#F5F5F5')" onmouseout="liteOff(section4I)">
                <legend>spacing</legend>
                <label for="4I_Add">Add spacing to Course Fee h3</label>
                <input type="button" name="4I_Add" id="4I_Add" value="+">
                <label for="4I_Remove">Remove spacing from Course Fee h3</label>
                <input type="button" name="4I_Remove" id="4I_Remove" value="-">
            </fieldset>
        </section>
    </aside><!-- .information -->


    <aside class="outcomes" data-target="#outcomes .content">
        <header>Objectives</header>
        <section data-target=".section1" onmouseover="liteOn(section1O,'#E6F7FF')" onmouseout="liteOff(section1O)">
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section1O,'#E6F7FF')" onmouseout="liteOff(section1O)">
                <legend>spacing</legend>
                <label for="1I_Add">Add spacing to Objectives h2</label>
                <input type="button" name="1I_Add" id="1I_Add" value="+">
                <label for="1I_Remove">Remove spacing from Objectives h2</label>
                <input type="button" name="1I_Remove" id="1I_Remove" value="-">
            </fieldset>
        </section>
        <section data-target=".section2">
            <header data-method="toggleContent" onmouseover="liteOn(section2O,'#E6F7FF')" onmouseout="liteOff(section2O)">Topics
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section2O,'#E6F7FF')" onmouseout="liteOff(section2O)">
                <legend>spacing</legend>
                <label for="2O_Add">Add spacing to Objectives h2</label>
                <input type="button" name="2O_Add" id="2O_Add" value="+">
                <label for="2O_Remove">Remove spacing from Objectives h2</label>
                <input type="button" name="2O_Remove" id="2O_Remove" value="-">
            </fieldset>
        </section>

    </aside><!-- .outcomes -->


    <aside class="activities" data-target="#activities .content">
        <header>Assignments</header>
        <section data-target=".section1">
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section1A,'#F8FFE6')" onmouseout="liteOff(section1A)">
                <legend>spacing</legend>
                <label for="IA_Add">Add spacing to Connection Assignments h2</label>
                <input type="button" name="IA_Add" id="IA_Add" value="+">
                <label for="IA_Remove">Remove spacing from Connection Assignments h2</label>
                <input type="button" name="IA_Remove" id="IA_Remove" value="-">
            </fieldset>
            <fieldset data-method="toggleContent" data-template="#assignment_template" data-element=".assignment" data-max="25" data-min="0" data-target=".details" onmouseover="liteOn(section1A,'##F8FFE6')" onmouseout="liteOff(section1A)">
                <legend class="small">assignment</legend>
                <label for="IAh2_Add">Add Assignment h3 to Connections Assignments h2</label>
                <input type="button" name="IAh2_Add" id="IAh2_Add" value="+">
                <label for="IAh2_Remove">Remove assignment h3 from Connections Assignments h2</label>
                <input type="button" name="IAh2_Remove" id="IAh2_Remove" value="-">
            </fieldset>
        </section>
    </aside><!-- .activities -->

    <aside class="policies" data-target="#policies .content">
            <header>Policies</header>
            <section data-target=".section1">
               <header onmouseover="liteOn(section1P,'#EBEBFF')" onmouseout="liteOff(section1P)">Honor Pledge
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section1P,'#EBEBFF')" onmouseout="liteOff(section1P)">
                    <legend>spacing</legend>
                    <label for="IP_Add">Add spacing to Honor Pledge h3</label>
                    <input type="button" name="IP_Add" id="IP_Add" value="+">
                    <label for="IP_Remove">Remove spacing from Honor Pledge h3</label>
                    <input type="button" name="IP_Remove" id="IP_Remove" value="-">
                </fieldset>
            </section>
            <section data-target=".section2">
                <header onmouseover="liteOn(section2P,'#EBEBFF')" onmouseout="liteOff(section2P)">Civility
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section2P,'#EBEBFF')" onmouseout="liteOff(section2P)">
                    <legend>spacing</legend>
                    <label for="2P_Add">Add spacing to Civility h3</label>
                    <input type="button" name="2P_Add" id="2P_Add" value="+">
                    <label for="2P_Remove">Remove spacing from Civility h3</label>
                    <input type="button" name="2P_Remove" id="2P_Remove" value="-">
                </fieldset>
            </section>
            <section data-target=".section3">
                <header onmouseover="liteOn(section3P,'#EBEBFF')" onmouseout="liteOff(section3P)">Accomodations
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section3P,'#EBEBFF')" onmouseout="liteOff(section3P)">
                    <legend>spacing</legend>
                    <label for="3P_Add">Add spacing to Accomodations h3</label>
                    <input type="button" name="3P_Add" id="3P_Add" value="+">
                    <label for="3P_Remove">Remove spacing from Accomodations h3</label>
                    <input type="button" name="3P_Remove" id="3P_Remove" value="-">
                </fieldset>
            </section>
            <section data-target=".section4">
                <header onmouseover="liteOn(section4P,'#EBEBFF')" onmouseout="liteOff(section4P)">Attendance
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section4P,'#EBEBFF')" onmouseout="liteOff(section4P)">
                    <legend>spacing</legend>
                    <label for="4P_Add">Add spacing to Attendance h3</label>
                    <input type="button" name="4P_Add" id="4P_Add" value="+">
                    <label for="4P_Remove">Remove spacing from Attendance h3</label>
                    <input type="button" name="4P_Remove" id="4P_Remove" value="-">
                </fieldset>
            </section>
            <section data-target=".section5">
                <header onmouseover="liteOn(section5P,'#EBEBFF')" onmouseout="liteOff(section5P)">Participation
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section5P,'#EBEBFF')" onmouseout="liteOff(section5P)">
                    <legend>spacing</legend>
                    <label for="5P_Add">Add spacing to Participation h3</label>
                    <input type="button" name="5P_Add" id="5P_Add" value="+">
                    <label for="5P_Remove">Remove spacing from Participation h3</label>
                    <input type="button" name="5P_Remove" id="5P_Remove" value="-">
                </fieldset>
            </section>
            <section data-target=".section6">
                <header onmouseover="liteOn(section6P,'#EBEBFF')" onmouseout="liteOff(section6P)">Late Work
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section6P,'#EBEBFF')" onmouseout="liteOff(section6P)">
                    <legend>spacing</legend>
                    <label for="6P_Add">Add spacing to Late Work h3</label>
                    <input type="button" name="6P_Add" id="6P_Add" value="+">
                    <label for="6P_Remove">Remove spacing from Late Work h3</label>
                    <input type="button" name="6P_Remove" id="6P_Remove" value="-">
                </fieldset>
            </section>
            <section data-target=".section7">
                <header onmouseover="liteOn(section7P,'#EBEBFF')" onmouseout="liteOff(section7P)">Course Eval
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section7P,'#EBEBFF')" onmouseout="liteOff(section7P)">
                    <legend>spacing</legend>
                    <label for="7P_Add">Add spacing to Course Eval h3</label>
                    <input type="button" name="7P_Add" id="7P_Add" value="+">
                    <label for="7P_Remove">Remove spacing from Course Eval h3</label>
                    <input type="button" name="7P_Remove" id="7P_Remove" value="-">
                </fieldset>
            </section>
            <section data-target=".section8" class="ui-state-default">
                <header data-method="toggleContent" onmouseover="liteOn(section8P,'#EBEBFF')" onmouseout="liteOff(section8P)">
                    <input type="button" value="Policy 8">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section8P,'#EBEBFF')" onmouseout="liteOff(section8P)">
                    <legend>spacing</legend>
                    <label for="8P_Add">Add spacing to Policy 8 h3</label>
                    <input type="button" name="8P_Add" id="8P_Add" value="+">
                    <label for="8P_Remove">Remove spacing from Policy 8 h3</label>
                    <input type="button" name="8P_Remove" id="8P_Remove" value="-">
                </fieldset>
            </section>
            <section data-target=".section9" class="ui-state-default">
                <header data-method="toggleContent" onmouseover="liteOn(section9P,'#EBEBFF')" onmouseout="liteOff(section9P)">
                    <input type="button" value="Policy 9">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section9P,'#EBEBFF')" onmouseout="liteOff(section9P)">
                    <legend>spacing</legend>
                    <label for="9P_Add">Add spacing to Policy 9 h3</label>
                    <input type="button" name="9P_Add" id="9P_Add" value="+">
                    <label for="9P_Remove">Remove spacing from Policy 9 h3</label>
                    <input type="button" name="9P_Remove" id="9P_Remove" value="-">
                </fieldset>
            </section>
            <section data-target=".section10" class="ui-state-default">
                <header data-method="toggleContent" onmouseover="liteOn(section10P,'#EBEBFF')" onmouseout="liteOff(section10P)">
                    <input type="button" value="Policy 10">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section10P,'#EBEBFF')" onmouseout="liteOff(section10P)">
                    <legend>spacing</legend>
                    <label for="10P_Add">Add spacing to Policy 10 h3</label>
                    <input type="button" name="10P_Add" id="10P_Add" value="+">
                    <label for="10P_Remove">Remove spacing from Policy 10 h3</label>
                    <input type="button" name="10P_Remove" id="10P_Remove" value="-">
                </fieldset>
            </section>
        </aside><!-- .policies -->

    <aside class="grades" data-target="#grades .content" >
        <header onmouseover="liteOn(grades,'#F9FFEB')" onmouseout="liteOff(grades)">Grades</header>
        <section class="first" >
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(grades,'#F9FFEB')" onmouseout="liteOff(grades)">
                <legend>spacing</legend>
                <label for="firstG_Add">Add spacing</label>
                <input type="button" name="firstG_Add" id="firstG_Add" value="+">
                <label for="firstG_Remove">Remove spacing</label>
                <input type="button" name="firstG_Remove" id="firstG_Remove" value="-">
            </fieldset>
        </section>
        <section data-target="#section1G" >
            <header onmouseover="liteOn('#grade_components tbody','#F9FFEB')" onmouseout="liteOff('#grade_components tbody')">
                Items
            </header>
            <fieldset data-method="toggleContent" data-template="#grade_component_row_template tr:last" data-element="tbody tr" data-max="20" data-min="11" data-target="#grade_components" data-callback="updateGradeScale" onmouseover="liteOn('#grade_components tbody','#F9FFEB')" onmouseout="liteOff('#grade_components tbody')">
                <legend>items</legend>
                <label for="gradesAdd">Add item</label>
                <input type="button" name="gradesAdd" id="gradesAdd" value="+">
                <label for="gradesRemove">Remove item</label>
                <input type="button" name="gradesRemove" id="gradesRemove" value="-">
            </fieldset>
        </section>
        <section data-target=".section2" class="ui-state-default">
            <header data-method="toggleContent" onmouseover="liteOn(section2G,'#F9FFEB')" onmouseout="liteOff(section2G)">
                <input type="button" value="Item Notes">
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" data-method="toggleContent" onmouseover="liteOn(section2G,'#F9FFEB')" onmouseout="liteOff(section2G)">
                <legend>spacing</legend>
                <label for="2G_Add">Add spacing</label>
                <input type="button" name="2G_Add" id="2G_Add" value="+">
                <label for="2G_Remove">Remove spacing</label>
                <input type="button" name="2G_Remove" id="2G_Remove" value="-">
            </fieldset>
        </section>
        <section data-target=".section3" data-grades-scale-required-points="500">
            <header onmouseover="liteOn(section3G,'#F9FFEB')" onmouseout="liteOff(section3G)">
                Scale
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px" onmouseover="liteOn(section3G,'#F9FFEB')" onmouseout="liteOff(section3G)">
                <legend>spacing</legend>
                <label for="3G_Add">Add spacing</label>
                <input type="button" name="3G_Add" id="3G_Add" value="+">
                <label for="3G_Remove">Remove spacing</label>
                <input type="button" name="3G_Remove" id="3G_Remove" value="-">
            </fieldset>
        </section>
    </aside>
</form>


<%= render partial: "#{@view_folder}/gui_templates" %>
<%= render partial: "#{@view_folder}/extend_gui" %>
