<% if @component[:id] %>
  <% post_url = component_path(@organization[:slug], @component[:slug]) %>
<% else %>
  <% post_url = component_path(@organization[:slug], '') %>
<% end %>

<% if @component.errors.any? %>
  <div class="alert alert-danger">
    <ul>
        <% @component.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_for(@component, url: post_url, html: { class: "form-horizontal" } ) do |f| %>
  <fieldset class="col-md-9">
    <legend>Info</legend>

    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name, class: 'form-control input-xxlarge' %>
      </div>
    </div>

    <% if @available_component_formats.include? 'erb' %>
        <div class="form-group">
          <%= f.label :slug, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :slug, class: 'form-control', value: params[:component_slug] || @component.slug %>
          </div>
        </div>
    <% else %>
      <div class="form-group">
        <%= f.label :slug, class: "control-label" %>
        <%= f.select :slug, @valid_slugs, { include_blank: '--'}, { class: 'form-control' } %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :description, class: "control-label" %>
      <div class="controls">
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>

    <% if @organization.enable_workflows %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :role, class: "control-label" %>
            <%= f.select(:role, @roles, {:include_blank => ''}, {class: 'form-control'}) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :role_organization_level, class: "control-label" %>
            <%= f.collection_select(:role_organization_level,@organization_levels, :last, :first, {:include_blank => ''}, {class: 'form-control'}) %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @available_component_formats.length > 1 %>
      <div class="form-group">
        <%= f.label :category, class: "control-label" %>
        <%= f.select :category, ['document','section','element','mailer'], { include_blank: '--'}, { class: 'form-control' } %>
        <div class="help-block">mailer components will only work if liquid format is selected</div>
      </div>
    <% else %>
      <%= f.hidden_field :category, :value => 'element' %>
    <% end %>
  </fieldset>

  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :subject, class: "control-label" %>
      <div class="controls">
      <%= f.text_field :subject, class: 'form-control', rows: 12 %>
      </div>
      <div class="help-block">
        when using liquid format refer to <a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers" target="_blank">Liquid guide for designers</a>
        <br>
        and the available variables are <b><%= @available_liquid_variables.keys.join(', ') %></b>
        and for the user_welcome_email there is the <b>user_activation_url</b> variable<br>
        and for the workflow_welcome_email and step_emails there is the <b>document_url</b> variable
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :layout, class: "control-label" %>
      <div class="info pull-right" id="componentVersion">Version: <%= @component.versions.count %></div>
      <div class="controls">
        <div id="editor" class="hidden"></div>
        <%= f.text_area :layout, class: 'form-control', rows: 12 %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <% if @available_component_formats.length > 1 %>
      <div class="form-group">
        <%= f.label :format, class: "control-label" %>
          <div class="controls">
            <%= f.select :format, @available_component_formats, { include_blank: '--'}, { class: 'form-control' } %>
        </div>
      </div>
    <% else %>
      <%= f.hidden_field :format, :value => @available_component_formats[0] %>
    <% end %>

    <div class="form-group">
        <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js" integrity="sha384-0NsDNlp/Rj45+c3BACpEiW+X+cOg4JWZ4Hf4wQR0zcFa9AmyDBOaJ0JupRuW5SHC" crossorigin="anonymous"></script>
<script>
    if(typeof(ace) != 'undefined') {
        var textarea = $('#component_layout').hide();
        $('#editor').text(textarea.val()).removeClass('hidden');

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.session.setMode("ace/mode/html_ruby");
        editor.setOptions({
            'useSoftTabs': true,
            'wrap': 'free',
            'highlightActiveLine': true,
            'autoScrollEditorIntoView': true
        });

        editor.getSession().on("change", function () {
            textarea.val(editor.getSession().getValue());
        });

        editor.commands.addCommand({
            name: 'saveFile',
            bindKey: {
                win: 'Ctrl-S',
                mac: 'Command-S',
                sender: 'editor|cli'
            },
            exec: function(env, args, request) {
                var component = $('.main form');

                $.ajax({
                    url: component.attr('action'),
                    data: component.serialize(),
                    type: 'post',
                    dataType: 'text',
                    success: function() {
                        $('<div class="alert alert-success fixed ">').text('Saved').prependTo(component).delay(2000).fadeOut(2000, function(){
                            $(this).remove();
                        });

                        var versionElement = $('#componentVersion');

                        if(versionElement.text().search(/\+/) < 0) {
                            versionElement.text(versionElement.text() + "+");
                        }
                    },
                    error: function() {
                        $('<div class="alert alert-danger fixed">').text('Error saving...').prependTo(component).delay(2000).fadeOut(2000, function(){
                            $(this).remove();
                        });
                    }
                })
            }
        });
    }
</script>

<style type="text/css" media="screen">
    .ace_editor {
        min-height: 600px;
        border: solid 1px #eee;
    }
</style>
