- if !ancestor_users.blank?
  = render 'manager_form', assignment: @assignment
- unless user.assignees.blank?
  %table.table.table-responsive.table-striped
    %thead
      %tr
        %th Role
        %th User Remote Id
        %th User Name
        %th Actions
    %tbody
      - @user.assignees.each do |assignee|
        %tr
          %td= assignee.role
          %td
          %td= assignee.user.name + " : " + assignee.user.email

          %td
            = link_to 'Destroy', eval("#{@namespace}_user_team_assignment_path(params[:slug],@user.id,assignee.id)"), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger"
- else
  %p Workflow summary not found

%h1
  = user.name.titlecase + "'s"
  Assignments
- if !descendant_users.blank?
  = render 'form', assignment: assignment
- unless assignments.blank? 
  %table.table.table-responsive.table-striped
    %thead
      %tr
        %th Role
        %th Team Member
        %th Actions
    %tbody
      - if !assignments.blank?
        - assignments&.each do |assignment|
          %tr
            %td= assignment.role
            %td= assignment.team_member.name + " : " + assignment.team_member.email
            %td
              = link_to 'Destroy', eval("#{@namespace}_user_team_assignment_path(params[:slug],@user.id,assignment.id)"), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger"

- else
  %p No Assignents found
