- if @namespace == :organization
  = render :partial => "organizations/breadcrumbs", locals: {organization: find_org_by_path(params[:slug])}
= link_to 'Direct Assignments', eval("#{@namespace}_user_team_assignments_path"), class:"pull-right btn btn-primary"
= link_to 'Organization Assignments', eval("#{@namespace}_user_team_assignments_path(organization: true)"), class:"pull-right btn btn-primary"
%h1
  = @user.name.titlecase + "'s"
  Workflow Summary

- if params[:organization]
  = render 'org_list', ancestor_users: @ancestor_users, user: @user, descendant_users: @descendant_users, assignment: @assignment, assignments: @assignments
- else
  = render 'direct_list', ancestor_users: @ancestor_users, user: @user, descendant_users: @descendant_users, assignment: @assignment, assignments: @assignments
