<%= form_for(@document, url: workflow_document_path(org_path: params[:org_path]), html: { class: "form-horizontal col-md-9" } ) do |f| %>

<% if @document.errors.any? %>
  <div class="alert alert-danger">
    <ul>
        <% @document.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, class: 'form-control input-xxlarge' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :lms_course_id, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :lms_course_id, class: 'form-control input-xxlarge' %>
    </div>
  </div>
  <% if @workflow_steps && @document.organization.root_org_setting("enable_workflows") %>
    <div class="form-group">
      <%= f.label :workflow_step_id, class: "control-label" %>
      <div class="controls">
        <%= f.collection_select :workflow_step_id, @workflow_steps, :id, :to_s, {include_blank: true},{class:"form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :user_id, class: "control-label" %>
      <div class="controls">
        <%= f.collection_select :user_id, @users, :id, :email, {include_blank: true},{class:"form-control"} %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :period_id, class: "control-label" %>
    <div class="controls">
      <%= f.collection_select :period_id, @periods, :id, :slug, {include_blank: true},{class:"form-control"} %>
    </div>
  </div>

<div class="form-group">
  <%= f.submit class: 'btn btn-default' %>
</div>

<% end %>
