<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Salsa</a>
    </div>

    <%= form_tag(admin_search_path, method: 'get', class: "form-horizontal col-md-12 navbar-form", role: "search" ) do |f| %>
      <% if has_role('designer') %>
        <div class="col-sm-12">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q" id="srch-term" value="<%= params[:q] %>">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              <a class="nav-link dropdown-toggle btn btn-default" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-option-vertical"></i>
              </a>
              <div class="dropdown-menu panel-primary" aria-labelledby="navbarDropdown">

                  <label>
                    Search by:
                  </label>
                <div class="dropdown-divider"></div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="search_user_id" value=1 <% if(params[:search_user_id]) %>checked<% end %>>
                    document user id
                  </label>
                </div>
                <br>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="search_user_email" value=1 <% if(params[:search_user_email]) %>checked<% end %> >
                    document user email
                  </label>
                </div>
                <br>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="search_user_name" value=1 <% if(params[:search_user_name]) %>checked<% end %>>
                    document user name
                  </label>
                </div>
                <br>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="search_connected_account_id" value=1 <% if(params[:search_connected_account_id]) %> checked <% end %>>
                    document user remote account id
                  </label>
                </div>
                <br>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="search_document_text" value="1" <% if(params[:search_document_text]) %>checked<% end %>>
                    Search documents?
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <%# <li class="active"><%= link_to "Reports", reports_path %><%# </li> %>
        <% if has_role('admin') %>
          <li class="active"><%= link_to "Periods", admin_periods_path %></li>
          <li class="active"><%= link_to "Documents", admin_document_index_path %></li>
        <% end %>
        <% if has_role('organization_admin') %>
          <li class="active"><%= link_to "Users", admin_users_path %></li>
        <% end %>
        <% if get_org&.enable_workflows %>
          <li class="active"><%= link_to "Workflow Documents", workflow_document_index_path %></li>
        <% end %>
        <% if has_role('supervisor') %>
          <li class="active"><%= link_to "Import Users", admin_import_users_path %></li>
        <% end %>
        <li class="active"><%= link_to "Organizations", organizations_path %></li>
        <li class="logout"><%= link_to "Logout", admin_logout_path %></li>
      </ul>
    </div>
  </div>
</div>
