<div class="alert alert-default">
  <div class="pull-right text-right">
    <% if @report.generating_at %>
      Started building a new report <%= time_ago_in_words @report.generating_at %> ago<br>
      <em class="small"><%= @report.generating_at %></em>

      <% if @report_stale %>
        &mdash; <a href="/admin/canvas?flush=true">cancel report</a>
      <% end %>
    <% else %>
      <a href="/admin/canvas?rebuild=true">Rebuild this report</a><br>
      <em class="small">Takes 1-<%= @stale_difference %> minutes</em>
    <% end %>
    <% if @download_snapshot %>
      <div class="">
        <a class="btn btn-success download-btn" href="/admin/download">Download semester snapshot <i class=" download-icon fa fa-download" aria-hidden="true"></i></a>
      </div>
    <% end %>
      <div class="">
        <a href="/admin/archive">Generate semester snapshot</a><br>
        <em class="small">Takes 1-<%= @stale_difference %> minutes</em>
      </div>
  </div>

  Report Generated <%= time_ago_in_words @report.updated_at %> ago.<br>
  <em class="small"><%= @report.updated_at %></em>
</div>

<div class="alert alert-default clearfix">
  <div class="form-group col-sm-4">
    <label for="account_filter">
      Filter
    </label>
    <select id="account_filters" class="form-control">
      <option value="">Show all</option>
    </select>
  </div>
</div>

<% if @report_data %>
  <div class="row">
    <div class="col-lg-6 col-md-6 well">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div id="canvasUse" style="height: 300px;"></div>
        </div><!-- .col-XXX-6 -->
        <div class="col-lg-6 col-md-6">
          <a href="#" class="btn btn-default btn-block usingSalsaBtn">
            Using Salsa<br>
            <span class="label label-primary"><span class="usingSalsaTotal">0</span> / <span class="grandTotal">0</span></span>
            <span class="label label-primary salsaUsagePercent">0%</span>
          </a>
          <a href="#" class="btn btn-default btn-block notUsingSalsaBtn">
            Not Using Salsa<br>
            <span class="label label-default"><span class="notUsingSalsaTotal">0</span> / <span class="grandTotal">0</span></span>
            <span class="label label-default notUsingSalsaPercent">0%</span>
          </a>
        </div><!-- .col-XXX-6 -->
      </div><!-- .row -->
    </div><!-- .well -->
    <div class="col-lg-6 col-md-6 well">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div id="syllabusState" style="height: 300px;"></div>
        </div><!-- .col-XXX-6 -->
        <div class="col-lg-6 col-md-6">
          <a href="#" class="btn btn-default btn-block hasSyllabusBtn">
            Published to Canvas<br>
            <span class="label label-success"><span class="hasSyllabusTotal">0</span> / <span class="usingSalsaTotal">0</span></span>
            <span class="label label-success hasSyllabusPer">0%</span>
          </a>
          <a href="#" class="btn btn-default btn-block noSyllabusBtn">
            Not Published to Canvas<br>
            <span class="label label-danger"><span class="noSyllabusTotal">0</span> / <span class="usingSalsaTotal">0</span></span>
            <span class="label label-danger noSyllabusPer">0%</span>
          </a>
        </div><!-- .col-XXX-6 -->
      </div><!-- .row -->
    </div><!-- .well -->
  </div><!-- .row -->
  <div class="row">
    <div id="collegeCount" class="well" style="height:800px;"></div>
  </div><!-- .row -->

  <div class="row">
    <div class="panel-group courses" id="accordion">
      <% course_id = ''%>
      <% account = ''%>
      <% parent_account = 0 %>

      <% @report_data.each_with_index do |record, i| %>

        <% if (course_id != record['course_id']) and (i > 1) %>
        <%# <a href="#" data-toggle="tooltip" data-original-title="{{ teachers.to_s }}"><i class="fa {{ if true or teachers.size }}fa-users{{ else }}fa-user{{ end }}"></i></a>%>
        </li>
        <% end %>

        <% if account != record['account_id'] %>
          <%# End of Department Loop %>
          <% if i > 1 %>
            </ul></div><!-- .department -->
          <% end %>
          <% if parent_account != record['parent_id'] %>
            <% parent_account = record['parent_id'] %>
            <%# End of College Loop %>
            <% if i > 1 %>
            </div><!-- #collapse_<%= parent_account %> -->
            </div><!-- .panel-body -->
            </div><!-- .college-list -->
            <% end %>

            <div class="panel panel-default college-list" id="account_<%= parent_account %>">
              <div class="panel-heading">
                <h2 class="panel-title" data-account="{&quot;id&quot;:<%= parent_account %>, &quot;name&quot;:&quot;<%= record['parent_account_name'] %>&quot;}">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= parent_account %>">
                    <% if record['parent_account_name'] %>
                      <%= record['parent_account_name'] %>
                    <% else %>
                      Root Account
                    <% end %>
                  </a>
                </h2>
              </div>
              <div id="collapse_<%= parent_account %>" class="panel-collapse collapse in">
                <div class="panel-body">
          <% end %>
          <% account = record['account_id'] %>

          <div class="department" id="account_<%= record['account'] %>">
            <h3 data-account="{&quot;id&quot;:&quot;<%= record['account'] %>&quot;, &quot;name&quot;:&quot;<%= record['account'] %>&quot;}"><%= record['account'] %></h3>
            <ul class="course-list" data-account="<%= record['account'] %>">
        <% end %>

        <% if course_id != record['course_id'] %>
          <% course_id = record['course_id'] %>
          <% li_classes, status_icon, syllabus_link = '', '', false %>
          <% if record['edit_id'] and !record['published_at'] %>
            <% li_classes = li_classes + 'using-salsa no-syllabus' %>
            <% status_icon = 'fa-question-circle' %>
            <% syllabus_link = true %>
          <%# syllabus check %>
          <% elsif record['published_at'] %>
            <% li_classes = li_classes + 'using-salsa has-syllabus' %>
            <% status_icon = 'fa-check-circle' %>
            <% syllabus_link = true %>
          <% else %>
            <% li_classes = li_classes + 'not-using-salsa no-syllabus' %>
            <% status_icon = 'fa-times-circle' %>
          <% end %>
          <li class="<%= li_classes %>" data-total-students="<%=record['total_students'] %>">
            <i class="fa <%= status_icon %>"></i>
            <a href="<%= @org['lms_authentication_source'] %>/courses/<%= record['course_id'] %>/assignments/syllabus" target="_blank" data-toggle="tooltip" title="Open course in Canvas"> <i class="fa fa-share"></i><span class="screenreader-only">View course in Canvas</span></a>
            <!-- <span class="label label-default enrollment-count">7</span> -->
            <% if syllabus_link %>
              <!-- <a href="<%= 'URL' %>salsa/<%= record['account_id'] %>/course/<%= record['course_id'] %>" target="_blank"><%= record['name'] %></a> -->
              <%= link_to record['name'], document_path(record['view_id']), target:"_blank" %>
              <%#= link_to '', document_path(record['edit_id']), {target:"_blank", class:'fa-pencil fa'} %>
            <% else %>
              <%= record['name'] %>
            <% end %>

            <%# teacher_array = [ record.teacher_first_name + " " + record.teacher_last_name ] %>
          <% else %>
            <%# course_id != record['course_id'] %>
            <%# teacher_array = teacher_array.merge([ record.teacher_first_name + " " + record.teacher_last_name ]) %>
          <% end %>
          <% if i == @report_data.count - 1 %>
                    <%# <a href="#" data-toggle="tooltip" data-original-title="{{ teachers.to_s }}"><i class="fa {{ if true or teachers.size }}fa-users{{ else }}fa-user{{ end }}"></i></a>%>
                    </li>
                  </ul></div><!-- .department -->
                </div><!-- #collapse_<%= parent_account %> -->
              </div><!-- .panel-body -->
            </div><!-- .college-list -->
          </ul></div><!-- .department -->
        </div><!-- #collapse_{{ root account }} -->
      </div><!-- .panel-body -->
    </div><!-- .college-list -->
          <% end %>
        <% end %>
    </div><!-- #accordion -->
  </div><!-- .row -->
<% else %>
  <div class="alert alert-warning" role="alert">No data for the selected term</div>
<% end %>
