<% if @report_data or true %>
  <div class="row">
    <div class="col-lg-6 col-md-6 well">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div id="canvasUse" style="height: 300px;"></div>
        </div>
        <div class="col-lg-6 col-md-6">
          <a href="#" class="btn btn-default btn-block usingCanvasBtn">
            Students Can Access Course<br>
            <span class="label label-primary"><span class="usingCanvasTotal">0</span> / <span class="grandTotal">0</span></span>
            <span class="label label-primary usingCanvasPer">0%</span>
          </a>
          <a href="#" class="btn btn-default btn-block notUsingCanvasBtn">
            Not Using Canvas<br>
            <span class="label label-default"><span class="notUsingCanvasTotal">0</span> / <span class="grandTotal">0</span></span>
            <span class="label label-default notUsingCanvasPer">0%</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 well">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div id="syllabusState" style="height: 300px;"></div>
        </div>
        <div class="col-lg-6 col-md-6">
          <a href="#" class="btn btn-default btn-block hasSyllabusBtn">
            Content in Syllabus Page<br>
            <span class="label label-success"><span class="hasSyllabusTotal">0</span> / <span class="usingCanvasTotal">0</span></span>
            <span class="label label-success hasSyllabusPer">0%</span>
          </a>
          <a href="#" class="btn btn-default btn-block noSyllabusBtn">
            No Content in Syllabus Page<br>
            <span class="label label-danger"><span class="noSyllabusTotal">0</span> / <span class="usingCanvasTotal">0</span></span>
            <span class="label label-danger noSyllabusPer">0%</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="collegeCount" class="well" style="height:800px;"></div>
  </div>

  <div class="row">
    <div class="panel-group courses" id="accordion">
      <% course_id = ''%>
      <% account = ''%>
      <% parent_account = 0 %>

      <% @report_data.each_with_index do |record, i| %>
        <% if (course_id != record[:course_id]) and (i > 1) %>
          <a href="#" data-toggle="tooltip" data-original-title="<%= 'teachers.to_s' %>"><i class="fa <% if true or teachers.size %>fa-users<% else %>fa-user<% end %>"></i></a></li>
        <% end %>

        <% if account != record[:account_id] %>
          <%# End of Department Loop %>
          <% if i > 1 %>
            </ul></div>
          <% end %>
          <% if parent_account != record[:parent_id] %>
            <% parent_account = record[:parent_id] %>
            <%# End of College Loop %>
            <% if i > 1 %>
              </div>
              </div>
              </div>
            <% end %>

            <div class="panel panel-default college-list">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= parent_account %>">
                    <% if record[:parent_account_name] %>
                      <%= record[:parent_account_name] %>
                    <% else %>
                      Root Account
                    <% end %>
                  </a>
                </h2>
              </div>
              <div id="collapse_<%= parent_account %>" class="panel-collapse collapse in">
                <div class="panel-body">
          <% end %>
          <% account = record[:account_id] %>

          <div class="department">
            <h3><%= record[:account] %></h3>
            <ul class="course-list">
        <% end %>

        <% if course_id != record[:course_id] %>
          <% course_id = record[:course_id] %>
          <% li_classes, status_icon, syllabus_link = '', '', false %>
          <% if record[:course_status] == 'unpublished' %>
            <% li_classes = li_classes ~ 'not-using-canvas' %>
            <% status_icon = 'fa-times-circle' %>
            <% li_classes = li_classes ~ 'using-canvas has-syllabus' %>
          <%# syllabus check %>
          <% elsif true %>
            <% status_icon = 'fa-check-circle' %>
            <% syllabus_link = true %>
          <% else %>
            <% li_classes = li_classes + 'using-canvas unknown-syllabus' %>
            <% status_icon = 'fa-question-circle' %>
          <% end %>
          <li class="<%= li_classes %>">
            <i class="fa <%= status_icon %>"></i>
            <a href="https://{{ institution.api_domain }}/courses/<%= record[:course_id] %>/users" target="_blank" data-toggle="tooltip" title="Open course in Canvas"> <i class="fa fa-share"></i><span class="screenreader-only">View course in Canvas</span></a>
            <span class="label label-default enrollment-count">7</span>
            <% if syllabus_link %>
              <a href="<%= 'URL' %>account/<%= record[:account_id] %>/course/<%= record[:course_id] %>" target="_blank"><%= record[:name] %></a>
            <% else %>
              <%= record[:name] %>
            <% end %>

            <%# teacher_array = [ record.teacher_first_name + " " + record.teacher_last_name ] %>
          <% else %>
            <%= course_id %> != <%= record[:course_id] %>
            <%# teacher_array = teacher_array.merge([ record.teacher_first_name + " " + record.teacher_last_name ]) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-warning" role="alert">No data for the selected term</div>
<% end %>
