<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
	<link rel="stylesheet" href="///maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<title>
		LMS Status - Salsa
	</title>

	<!-- Bootstrap core CSS -->
	<%= stylesheet_link_tag "dashboard", media: "all" %>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body data-base-url="{{ constant('URL') }}">
	<%# render 'admin/topbar' %>

	<div class="heading">
		<div class="container">
			<h1><i class="fa fa-compass"></i> <%= @organization.name if @organization %> Syllabus Tracker</h1>
		</div>
	</div>


	<% if @messages %>
	<div class="container" id="messages">
		<% if messages.error %>
		<div class="alert alert-danger">
			<%= messages.error %>
		</div>
		<% end %>
	</div>
	<% end %>

	<%= render 'masthead' %>

	<div class="container" role="main">
		<%= yield %>
	</div>

	<div class="container" role="main">
		<footer>
			<a class="logo" href="https://{{ institution.api_domain }}/" target="_blank" title="{{ institution.name }}">
				<% if @organization %>
					<% if @organization.logo %>
						<img src="<%= @organization.logo %>">
					<% else %>
						<%= @organization.name %>
					<% end %>
				<% else %>
					Salsa Report
				<% end %>
			</a>
		</footer>
	</div>
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<%= javascript_include_tag "dashboard" %>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	</body>
	</html>
