<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %>

      <ul>
      <% user.user_assignments.each do |ua| %>
        <li>
          <strong><%= ua.username %></strong>

          ::

          <%= ua.role %>

          <% if ua.cascades %>
            for <em><%= ua.organization.name %></em> and all sub organizations
          <% else %>
            for <em><%= ua.organization.name %></em> only
          <% end %>
        </li>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<pre>
  <%= @session['canvas_access_token']['user'].to_json %>
