<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-sm-12">
      <div class="logo-right">
        <a href="https://community.canvaslms.com/community/answers/partnerships/salsa" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/salsa.assets/public/images/canvas_certified_partner.png" alt="Canvas Certified Partner logo"></a>
      </div>
      <h2>Is this a new type of syllabus?</h2>
      <p>Yes. The traditional syllabus is out of alignment with today's hybrid and online learning environments.</p> 
      <p><abbr title="Styled and accessible learning service agreements">SALSAs</abbr> are designed to:</p>
      <ul>
        <li>deliver information in a learner-centric format</li>
        <li>incorporate measurable learning outcomes/objectives</li>
        <li>meet requirements for web accessibility</li>
        <li>provide responsive layouts for mobile devices</li>
      </ul>
      <a href="<% if params[:sub_organization_slugs] %><%= new_sub_org_document_path params[:sub_organization_slugs] %><% else %><%= new_document_path %><% end %>" role="button">Teaching Online?&nbsp;&nbsp;<span class="fa fa-desktop"></span>&nbsp;&nbsp;click & create</a>
    </div><!-- /.col-sm-12 -->

    
    
<!--    <div class="col-sm-6 right">
       <h2>Who is developing Salsa?</h2>

      <p>Salsa is an open source web application being developed at <a href="http://usu.edu/">Utah State University</a>. The Salsa project team is located at the <a href="http://cidi.usu.edu/">Center for Innovative Design &amp; Instruction</a>. The Salsa project has received funding from the <a href="http://ustar.usu.edu/">Utah Science and Technology Research</a> initiative.<p>
      <p>Contact the project at <a href="mailto:salsa@usu.edu">salsa@usu.edu.</a>
    </div> /.col-sm-6 -->

    <div class="col-sm-12">
      <h2>How does Salsa work?</h2>
      <p>When you click on "Create your Salsa", a <a href="http://salsa.usu.edu/SALSA/new" target="_blank">secure link</a> to your new document is opened. As you add information, click "Save" to update your <abbr title="Styled and accessible learning service agreements">SALSA</abbr>. Use the "Edit" link to return and make changes to your saved version. Click "Publish" and link to your <abbr title="Styled and accessible learning service agreements">SALSA</abbr> in <a href="http://salsa.usu.edu/SALSA/lfgqjomdzxtsyksekfvserucebgusq" target="_blank">web accessible <abbr title="Hypertext markup language">HTML</abbr> format</a>.</p>
      <a href="<% if params[:sub_organization_slugs] %><%= new_sub_org_document_path params[:sub_organization_slugs] %><% else %><%= new_document_path %><% end %>" role="button">Ready to Start?&nbsp;&nbsp;<span class="fa fa-arrow-circle-right"></span>&nbsp;&nbsp;click & create</a>
      </div><!-- .col-sm-12 -->



      <div class="col-sm-12">
      <h2>No Signup? No Accounts?</h2>
      <p>We don't collect your personal information or require you to create an account. When you create a SALSA, you are assigned a URL (web address) with a unique, randomized 30-digit key. By using Salsa, you agree to our <a href="http://syllabustool.com/default/tos" target="_blank">Terms of Service</a>.</p>
      <a href="<% if params[:sub_organization_slugs] %><%= new_sub_org_document_path params[:sub_organization_slugs] %><% else %><%= new_document_path %><% end %>" role="button">No account required&nbsp;&nbsp;<span class="fa fa-smile-o"></span>&nbsp;&nbsp;click & create</a>
      </div><!-- .col-sm-12 -->
  </div><!-- /.row -->
   


<%#    <div class="col-sm-4">
      <a href="https://twitter.com/salsa4he">@Salsa4HE</a>
      <a href="mailto:salsa@usu.edu">Email Us</a>
    </div><!-- .col-sm-4 -->
  </div><!-- .row -->
%>
</div><!-- .container.marketing -->