
<h1><%= link_to organization_path(params[:slug], org_path:params[:org_path]) do %><small><%= @organization.name %></small><% end %></h1>
<%- model_class = Period -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @period.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
  <dd><%= @period.slug %></dd>
  <dt><strong><%= model_class.human_attribute_name(:organization_id) %>:</strong></dt>
  <dd><%= @period.organization.slug if @period.organization_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
  <dd><%= @period.start_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:duration) %>:</strong></dt>
  <dd><%= @period.duration.to_s if @period.duration %> days</dd>
  <dt><strong><%= model_class.human_attribute_name(:is_default) %>:</strong></dt>
  <dd><%= @period.is_default %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              periods_path(params[:slug], org_path:params[:org_path]), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_period_path(params[:slug],@period, org_path:params[:org_path]), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              period_path(params[:slug],@period, org_path:params[:org_path]),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
