<div class="page-header">
  <h1>
    <%= link_to organization_path(params[:slug], org_path: params[:org_path]) do %><small><%= @organization.name %></small><% end %>
    <br>
    <%=t '.title', :default => "Import Users" %>
  </h1>
</div>

<%= form_for("users", url: organization_import_users_path(params[:slug], org_path: params[:org_path]), :html => { :class => "form-horizontal col-md-9 col-lg-6" } ) do |f| %>

  <% if flash[:errors] != []  && flash[:errors] != nil%>
      <div class="alert alert-danger">
      <% flash[:errors].each do |error| %>
          <li><%= error %></li>
      <% end %>
      </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :remote_user_ids, class: "control-label" %>
      <div class="controls col-md-12">
        <%= f.text_area :remote_user_ids, class: 'form-control input-xxlarge', rows: 6 %>
        <div class="help-block">seperate each remote user id by a comma or newline</div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :emails, class: "control-label" %>
      <div class="controls col-md-12">
        <%= f.text_area :emails, class: 'form-control input-xxlarge', rows: 6 %>
        <div class="help-block">seperate each email by a comma or newline</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :organization_id, class: "control-label" %>
      <div class="controls">
        <%= f.select(:organization_id, @organizations.collect { |org| [ (org.parent && org.parent.parent ? org.parent.parent.name + ' » ' : '') + (org.parent ? org.parent.name + ' » ' : '') + org.name, org.id ] }, { prompt: @organization.name}, {class: 'form-control'}) %></p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
    &nbsp; &nbsp;
  </div>

<% end %><!-- form -->
