<tr>
  <td><%= link_to document.name, document_path(document) %></td>
  <td><%= link_to(document.organization.slug, document_path(document)) if document.organization %></td>
  <td><%= link_to(document.lms_course_id, document_path(document)) if document.lms_course_id %></td>
  <td><%= link_to(document.workflow_step_id, document_path(document)) if document.workflow_step_id %></td>
  <td><%= link_to(document.user_id, document_path(document)) if document.user_id %></td>
  <td>
    <%= link_to t('.show', :default => t("helpers.links.show")),
                admin_document_path(document), :class => 'btn btn-default btn-xs' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_admin_document_path(document), :class => 'btn btn-default btn-xs' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                admin_document_path(document),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger' %>
  </td>
</tr>
