<%- model_class = Document -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:organization) %></th>
      <th><%= model_class.human_attribute_name(:lms_course_id) %></th>
      <th><%= model_class.human_attribute_name(:workflow_step_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>

        <tr>
          <td><%= document.name %></td>
          <td><%= document.organization&.slug %></td>
          <td><%= document.lms_course_id %></td>
          <td><%= document.workflow_step&.slug %></td>
          <td><%= document.user&.email %></td>
          <td>
            <% if !document.organization&.disable_document_view  %>
              <%= link_to "View",
                        document_path(document.view_id), :class => 'btn btn-default btn-xs' %>
            <% end %>
            <%= link_to "Versions",
                        admin_document_versions_path(document), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_admin_document_path(document), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        admin_document_path(document),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@documents) %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_document_path,
            :class => 'btn btn-primary' %>
