<% if action == 'Update' %>
  <% path = polymorphic_path([params[:controller].singularize,:update_assignments], org_path: params[:org_path]) %>
<% else %>
  <% path = polymorphic_path([params[:controller].singularize,:assignments], org_path: params[:org_path]) %>
<% end %>

<%= form_for permission, url: path, html: {class: "form"} do |f| %>
<%= f.hidden_field :user_id %>

<% if permission.errors.any? %>
  <div class="alert alert-danger">
    <ul>
        <% permission.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<table class="table table-responsive">
<thead>
  <tr>
    <th>
      <%= f.label :username, "Remote User ID" %>
    </th>
    <th>
      <%= f.label :role %>
    </th>
    <% if has_role("admin") && params[:controller] == 'admin_users' %>
      <th>
        <%= f.label :organization_id %>
      </th>
    <% end %>
    <th>
      Cascades
    </th>
    <th>
      Actions
    </th>
  </tr>
</thead>
<tbody>
<tr>
  <td>
    <%= f.text_field :username %>
  </td>

  <td>
    <% if !permission[:role] %>
      <% permission[:role] = 'auditor' %>
    <% end %>

    <%= f.select(:role, @roles, {:include_blank => ''}) %>
  </td>
  <% if has_role("admin") && params[:controller] == 'admin_users' %>
    <td>
      <% if @organizations %>
        <%= f.select(:organization_id, @organizations.collect {|o| [ o.name + ' (' + o.slug + ')', o.id ] }, include_blank: true) %>
      <% else %>
        You don't seem to belong to any organizations... contact your admin to fix this.
      <% end %>
    </td>

  <% end %>
  <td>
    <%= f.label :cascades_true, "Yes" %>
    <% if permission[:cascades] == nil %>
      <%= f.radio_button :cascades, true, checked: true %>
    <% else %>
      <%= f.radio_button :cascades, true %>
    <% end %>

    <%= f.label :cascades_false, "No" %>
    <%= f.radio_button :cascades, false %>
  </td>

  <td class="text">
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> <%= action %> Access</button>
    <% if action != 'Add' %>
      <%= link_to 'cancel', polymorphic_path([params[:controller].singularize],id: permission.user_id, org_path: params[:org_path]), class:"btn btn-default" %>
    <% end %>
  </td>
</tr>
</tbody>
</table>
<% end %>
