<% if action == 'Update' %>
  <% path = admin_update_user_assignments_path %>
<% else %>
  <% path = admin_user_assignments_path %>
<% end %>

<%= form_for permission, url: path, html: {class: "form"} do |f| %>
<%= f.hidden_field :user_id %>

<% if permission.errors.any? %>
  <div class="alert alert-danger">
    <ul>
        <% permission.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<table class="table table-responsive">
<thead>
  <tr>
    <th>
      LMS User ID
    </th>
    <th>
      Role
    </th>
    <th>
      Organization
    </th>
    <th>
      Cascades
    </th>
  </tr>
</thead>
<tbody>
<tr>
  <td>
    <%= f.text_field :username %>
  </td>

  <td>
    <% if !permission[:role] %>
      <% permission[:role] = 'auditor' %>
    <% end %>

    <%= f.select(:role, {'Global Administrator'=>'admin', 'Organization Administrator'=>'organization_admin', 'Auditor'=>'auditor'}, {:include_blank => ''}) %>
  </td>
  <td>
    <% if @organizations %>
      <%= f.select(:organization_id, @organizations.collect {|o| [ o.name + ' (' + o.slug + ')', o.id ] }, include_blank: true) %>
    <% else %>
      You don't seem to belong to any organizations... contact your admin to fix this.
    <% end %>
  </td>

  <td>
    <% if permission[:cascades] == nil %>
      <%= f.radio_button :cascades, true, checked: true %>
    <% else %>
      <%= f.radio_button :cascades, true %>
    <% end %>

    <%= f.label :cascades, "Yes" %>
    <%= f.radio_button :cascades, false %>
    <%= f.label :cascades, "No" %>
  </td>

  <td class="text-right">
    <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> <%= action %> Access</button>
    <% if action != 'Add' %>
      <br>
      <%= link_to 'cancel', admin_user_path(id: permission[:user_id]) %>
    <% end %>
  </td>
</tr>
</tbody>
</table>
<% end %>
