<div class="row">
  <% if @user.id %>
    <% form_path = polymorphic_path([params[:controller].singularize],id: @user.id,org_path: params[:org_path]) %>
  <% else %>
    <% form_path = polymorphic_path([params[:controller]], org_path: params[:org_path]) %>
  <% end %>

  <%= form_for(@user, url: form_path, :html => { :class => "form-horizontal col-md-9 col-lg-6", autocomplete: :off } ) do |f| %>

    <% if @user.errors.any? %>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li class="alert alert-danger"><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name, class: 'form-control input-xxlarge' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email, class: 'form-control input-xxlarge' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "control-label" %>
      <div class="controls">
        <%= f.password_field :password, class: 'form-control input-xxlarge' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, class: 'form-control input-xxlarge' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-success' %>
      &nbsp; &nbsp;
      <%= link_to 'cancel', (@user[:id] ? polymorphic_path([params[:controller].singularize],id: @user.id) : polymorphic_path([params[:controller]], org_path: params[:org_path])), class:"btn btn-default" %>
    </div>

  <% end %><!-- form -->
</div><!-- .row -->
