<% if role.id %>
<tr>
  <td>
    <%= role.username %>
  </td>

  <td><%= role.role %></td>
  <td>
    <% if role.organization %>
      <em><%= role.organization.name %></em>
      <div class="nowrap">
        <%= link_to full_org_path(role.organization), organization_path(full_org_path role.organization) %>
      </div>
    <% else %>
      GLOBAL
    <% end %>
  </td>

  <td>
  <% if role.cascades %>
    yes
  <% else %>
    no
  <% end %>
  </td>

  <td class="text-right">
    <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, polymorphic_path([params[:controller].singularize,:edit_assignment], id: role.id), class: 'btn-xs' %>
    <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, polymorphic_path([params[:controller].singularize,:remove_assignment], id: role.id), class: 'btn-xs text-danger' %>
  </td>
</tr>
<% end %>
