<% if has_role("admin") %>
  <%= link_to 'Add User', new_admin_user_path, class: 'btn btn-success pull-right' %>
<% end %>
<% if params[:show_archived] == "true" %>
  <%= link_to 'Users', admin_users_path(show_archived: false), class: 'btn btn-success pull-right' %>
<% else %>
  <%= link_to 'Archived Users', admin_users_path(show_archived: true), class: 'btn btn-success pull-right' %>
<% end %>

<h1>System Users</h1>

<table class="table table-responsive table-striped">
  <thead>
    <th>
      Contact
    </th>
    <th>
      Permissions
    </th>
    <th>
      Actions
    </th>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td>
        <address>
          <strong class="text-large"><%= link_to user.name, admin_user_path(id: user[:id]) %></strong><br>
          <%= link_to user.email, "mailto:${user.email}" %>
        </address>
      </td>

      <td>
        <ul class="list-group">
          <% user.user_assignments.each do |ua| %>
            <li class="list-group-item">
              <% if ua.cascades %>
                <span class="badge xs-badge">cascades</span>
              <% end %>

              <% if ua.organization %>
                <%= ua.organization.name %> - <%= ua.role %>
              <% else %>
                <span class="alert-warning">GLOBAL</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </td>
      <td>
        <% if params[:show_archived] == "true" %>
          <%= link_to "Restore", admin_user_restore_path(admin_user_id: user[:id]), method:"post", class:"btn btn-primary" %>
        <% else %>
          <%= link_to "Archive", admin_user_archive_path(admin_user_id: user[:id]), method:"post", class:"btn btn-danger" %>

        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= paginate @users %>
