<%= link_to 'Add User',  polymorphic_path([:new,params[:controller].singularize], org_path: params[:org_path]), class: 'btn btn-success pull-right' %>
<% if has_role("admin") %>
  <% if params[:show_archived] == "true" %>
    <%= link_to 'Users', polymorphic_path([params[:controller]],show_archived: false, org_path: params[:org_path]), class: 'btn btn-success pull-right' %>
  <% else %>
    <%= link_to 'Archived Users', polymorphic_path([params[:controller]],show_archived: true, org_path: params[:org_path]), class: 'btn btn-success pull-right' %>
  <% end %>
<% end %>

<% if params[:controller] == "organization_users" %>
  <h1><%= link_to organization_path(params[:slug], org_path: params[:org_path]) do %><small><%= @organization.name %></small><% end %></h1>
<% end %>

<%= render :partial => "list" %>
