<header class="masthead">
    <nav id="toolbar">
        <ul>
            <li>
               <%= link_to "Save", syllabus_path(@syllabus.edit_id), :authenticity_token => form_authenticity_token(), :method => :put, :remote => true, :id => 'tb_save' %>
            </li>
            <li><a href="#" id='tb_link'><i class="foundicon-plus"></i>My SALSA</a></li>
            <li><%= link_to '<i class="foundicon-checkmark"></i>Preview'.html_safe, @view_url, :target => '_blank', :id => "tb_preview" %></li>
            <li><a href="#" id='tb_share'><i class="general foundicon-right-arrow"></i>Publish</a></li>
        </ul>
        <ul style="float:right">
            <!-- <li><a href="#example" id="tb_example"><i class="general foundicon-star"></i>Example</a></li>
            <li><a href="/help.html" target="_blank" id="tb_help"><i class="general foundicon-question"></i>Help</a></li>
            -->

            <% if session[:institution] && session[:institution] != '' %>
                <li>
                    <%= link_to "Select Course...", canvas_list_courses_path(id: @syllabus.edit_id), :authenticity_token => form_authenticity_token(), :remote => true, :id => 'tb_save_canvas', :class => 'click_on_init' %>
                </li>
                <li>
                    <%= link_to "#{session[:institution].upcase}: Disconnect", controller: 'oauth2', action: 'logout' %>
                </li>
            <% else %>
                <%= link_to "Connect to LMS", oauth2_login_path(syllabus_id: @syllabus.edit_id), :authenticity_token => form_authenticity_token(), :id => 'tb_login_lms' %></li>
            <% end %>
                
        </ul>
    </nav>
</header>

<div id="previewWrapper">
    <div id="preview"></div>
</div>

<div id="share_prompt" style="display:none; cursor: default">
    <p><i>&iexcl;Share your SALSA online!</i></p>
    <p>PDF link:</p>
    <p><%= link_to @view_pdf_url, @view_pdf_url, :target => '_blank', :id => "view_url" %></p>
    <p>HTML link:</p>
    <p><%= link_to @view_url, @view_url, :target => '_blank', :id => "view_url" %></p>
    <p>Template link:</p>
    <p><%= link_to @template_url, @template_url, :target => '_blank', :id => "view_url" %></p>
</div>

<div id="save_prompt" style="display:none; cursor: default">
    <p><br/><%= image_tag 'busy.gif' %> <span id="saving_msg">Saving SALSA. Just a moment...</span></p>
</div>

<div id="choose_course_prompt" style="display:none; cursor: default"></div>

<div id="choose_institution_prompt" style="display:none; cursor: default">
    <form action="<%= oauth2_login_path(syllabus_id: @syllabus.edit_id) %>">
        <label for="institution_login_select" style="display: block; margin: 15px;">
            Select your institution to login to your LMS:
        </label>

        <div>
            <select name="institution" id="institution_login_select" style="margin: 15px;">
                <option></option>

                <optgroup label="Nevada">
                    <option value="nsc">Nevada State College</option>
                </optgroup>

                <optgroup label="Utah">
                    <option value="dixie">Dixie College</option>
                    <option value="slcc">Salt Lake Community College</option>
                    <option value="snow">Snow College</option>
                    <option value="suu">Southern Utah University</option>
                    <option value="utah">University of Utah</option>
                    <option selected value="usu">Utah State University</option>
                    <option value="uvu">Utah Valley University</option>
                    <option value="weber">Weber State University</option>
                </optgroup>

                <option id="otherIinstitution_login">Other...</option>
            </select>
            <button type="submit">Login</button>
        </div>
             <div style="margin: 15px;">
                <p><em>If you would like your institution to be permenantly added to the list, please contact <a href="mailto:salsa@usu.edu">salsa@usu.edu</a></em></p>
              </div>
              <div>  
                <p>Canvas manual login:</p>
                 <input type="text" name="institution" id="institution_login_other" style="margin: 10px;">.instructure.com/login&nbsp;&nbsp;
                  <label for="institution_login_other">
                    </label></input>
                    <button type="submit">Login</button>

               </div> 
   

           <!--  <div class="form-group">
                Let us know who you are and we will work with you to get your institution added.

                <label for="institution_login_new_contact">
                    Name:
                </label>

                <input id="institution_login_new_contact" name="institution_contact">

                <label for="institution_login_new_contact">
                    Preferred contact Email:
                </label>

                <input id="institution_login_new_contact" name="institution_contact">

            </div> -->


    </form>
</div>

<div id="mySalsa">
    <p>The URL displayed in your browser is a unique, randomly-generated link to your <strong>editable</strong> SALSA:</p>
    <p id="custom-url"></p>
    <p>If your browser’s bookmarks are visible, drag and drop the “My SALSA” link to create a bookmark.</p>
    <p>Or, create a bookmark with the following keyboard shortcuts: Ctrl+D (Windows and Chrome OS) or ⌘-D (Mac).</p>
</div>
