<header class="masthead">
    <nav id="toolbar">
        <ul>
            <li>
               <%= link_to "Save", syllabus_path(@syllabus.edit_id), :authenticity_token => form_authenticity_token(), :method => :put, :remote => true, :id => 'tb_save' %>
            </li>
            <li><%= link_to '<i class="foundicon-checkmark"></i>Preview'.html_safe, @view_url, :target => '_blank', :id => "tb_preview" %></li>
            <li><a href="#" id='tb_share'><i class="foundicon-right-arrow"></i>Publish</a></li>
        </ul>
        <ul style="float:right">
        	<li><a href="#example" id="tb_example"><i class="foundicon-star"></i>Example</a></li>
           	<li><a href="/help.html" target="_blank" id="tb_help"><i class="foundicon-heart"></i>Help</a></li>
        </ul>
    </nav>
</header>

<div id="preview_control"><a href="#close">close | x</a></div>
<div id="preview"></div>

<div id="share_prompt" style="display:none; cursor: default"> 
    <h1>You can share this syllabus at:</h1> 
    <p><%= link_to @view_pdf_url, @view_pdf_url, :target => '_blank', :id => "view_url" %>
    <br/>or<br/>
    <%= link_to @view_url, @view_url, :target => '_blank', :id => "view_url" %></p>
</div> 

<div id="save_prompt" style="display:none; cursor: default"> 
    <p><br/><%= image_tag 'busy.gif' %> <span id="saving_msg">Saving Syllabus. Just a moment...</span></p>
</div> 

