<div class="row">
  <% if @organization[:slug] %>
    <% form_action = organization_path slug: full_org_path(@organization) %>
  <% else %>
    <% form_action = organization_path slug: '' %>
  <% end %>

  <%= form_for(@organization, url: form_action, :html => { :class => "form-horizontal col-md-9" } ) do |f| %>
    <fieldset>
      <legend>Organization</legend>

      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name, class: 'form-control input-xxlarge' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :slug, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :slug, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :parent_id, class: "control-label" %>

          <%= f.select :parent_id, Organization.where.not(id: params[:id]).collect { |org| [ org.slug + ' - ' + org.name, org.id ] }, { include_blank: '-- top level organization --'}, { class: 'form-control' } %>

      </div>
    </fieldset>

    <fieldset>
      <legend>LMS Information</legend>

      <div class="form-group">
        <%= f.label :lms_authentication_source, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :lms_authentication_source, class: 'form-control' %>
          Canvas expects the format: <code>https://<em>instance</em>.instructure.com</code>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :lms_authentication_id, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :lms_authentication_id, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :lms_authentication_key, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :lms_authentication_key, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :lms_info_slug, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :lms_info_slug, class: 'form-control' %>
          Canvas expects the format: <code>pages/_edit_gui_salsa</code> for the wiki pages (note use of pages, not wiki).
        </div>
      </div>

      <div class="form-group">
        <%= f.submit class: 'btn btn-default' %>
        <%= link_to 'cancel', (@organization[:id] ? organization_path(id: @organization[:id]) : organizations_path) %>
      </div>
    </fieldset>

  <% end %><!-- form -->
</div><!-- .row -->
