<div class="row">
  <% if @organization[:slug] %>
    <% form_action = organization_path slug: full_org_path(@organization) %>
  <% else %>
    <% form_action = organization_path slug: '' %>
  <% end %>

  <%= form_for(@organization, url: form_action, :html => { :class => "form-horizontal col-md-9" } ) do |f| %>
    <% if has_role 'admin' %>
        <fieldset>
          <legend>Organization</legend>

          <div class="form-group">
            <%= f.label :name, class: "control-label" %>
            <div class="controls">
                  <%= f.text_field :name, class: 'form-control input-xxlarge' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :slug, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :slug, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :parent_id, class: "control-label" %>

              <%= f.select :parent_id, @organizations.where.not(id: params[:id]).collect { |org| [ org.slug + ' - ' + org.name, org.id ] }, { include_blank: '-- top level organization --'}, { class: 'form-control' } %>

          </div>
        </fieldset>


        <fieldset class="default_account_filter">
          <legend>Defaults</legend>

          <div class="form-group">
            <%= f.label :default_account_filter, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :default_account_filter, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
    <% else %>
        <div class="form-group">
          <%= f.label :name, class: "control-label" %>
          <div class="controls">
                <%= f.text_field :name, class: 'form-control input-xxlarge' %>
          </div>
        </div>
    <% end %>

    <% if has_role 'organization_admin' %>
        <fieldset class="lms_config collapse">
          <legend>LMS Information</legend>

          Supported LMS integrations
          <ul>
              <li>
                  Canvas - <a href="https://github.com/oasis4hedev/salsa/blob/releases/0.9/_install/canvas_integration.md" target="_blank">Integration Guide</a>
              </li>
          </ul>

          <div class="form-group">
            <%= f.label :lms_authentication_source, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :lms_authentication_source, class: 'form-control' %>
              <div class="help-block">
                  Canvas expects the format: <code>https://<em>instance</em>.instructure.com</code>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :lms_authentication_id, "LMS Client ID", class: "control-label" %>
            <div class="controls">
              <%= f.text_field :lms_authentication_id, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :lms_authentication_key, "LMS Authentication Key", class: "control-label" %>
            <div class="controls">
              <%= f.text_field :lms_authentication_key, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :lms_info_slug, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :lms_info_slug, class: 'form-control' %>
              <div class="help-block">
                  Canvas expects the format: <code>pages/_edit_gui_salsa</code> for the wiki pages (note use of pages, not wiki).
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <%= f.check_box :skip_lms_publish, class: '' %>
              <%= f.label :skip_lms_publish, class: "control-label" %>
              <div class="help-block">When enabled, the document:publish event will not try and publish the document to any configured LMS</div>
            </div>
          </div>

        </fieldset>

        <div class="form-group">
            <button data-toggle="collapse" data-target=".lms_config" type="button" class="lms_config collapse in">LMS Configuration</button>
        </div>
    <% end %>

    <fieldset>
        <legend>Settings</fieldset>
        <% if params[:action] != 'new' || params[:action] == 'create' %>
          <div class="form-group">
            <div>
            <%= f.label :default_workflow_step_id, :class => 'control-label' %>
              <%= f.collection_select :default_workflow_step_id, @workflow_steps.where(step_type: "start_step"), :id, :slug, {include_blank: true},{class:"form-control"} %>
            </div>
            <%=f.error_span(:next_workflow_step_id) %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :home_page_redirect, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :home_page_redirect, class: 'form-control' %>
            <div class="help-block">
                URL to redirect to instead of showing the home page
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <%= f.check_box :enable_anonymous_actions, class: '' %>
            <%= f.label :enable_anonymous_actions, 'Enable Editing for Unauthorized Users', class: "control-label" %>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <%= f.check_box :disable_document_view, class: '' %>
            <%= f.label :disable_document_view, class: "control-label" %>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <%= f.check_box :enable_workflows, class: '' %>
            <%= f.label :enable_workflows, class: "control-label" %>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <%= f.check_box :inherit_workflows_from_parents, class: '' %>
            <%= f.label :inherit_workflows_from_parents, class: "control-label" %>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <%= f.check_box :track_meta_info_from_document, class: '' %>
            <%= f.label :track_meta_info_from_document, class: "control-label" %>
          </div>
          <div class="help-block">
            requires all data-meta tags in the document to have unique values
          </div>
        </div>

        <div class="form-group hide">
          <%= f.label :export_type, 'Export Types for report zipfile json', class: "control-label" %>
          <div class="controls">
            <%= f.select :export_type, options_for_select(@export_types,  @organization.export_type), { class: 'form-control' }%>

          </div>
        </div>

    </fieldset>

    <div class="form-group">
      <%= f.submit class: 'btn btn-default' %>
      &nbsp;
      &nbsp;
      &nbsp;
      <%= link_to 'cancel', (@organization[:id] ? organization_path(id: @organization[:id]) : organizations_path) %>
    </div>

  <% end %><!-- form -->
</div><!-- .row -->
