<div class="row">
  <% if @organization.errors.any? %>
    <div id="error_expl" class="alert alert-danger">
      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@organization.new_record? %>
    <% form_action = organization_path slug: full_org_path(@organization), org_path: params[:org_path] %>
  <% else %>
    <% form_action = organization_path slug: '', org_path: params[:org_path] %>
  <% end %>

  <%= form_for(@organization, url: form_action, :html => { :class => "form-horizontal col-md-9" } ) do |f| %>
    <% if has_role 'admin' %>
        <fieldset>
          <legend>Organization</legend>

          <div class="form-group">
            <%= f.label :name, class: "control-label" %>
            <div class="controls">
                  <%= f.text_field :name, class: 'form-control input-xxlarge' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :slug, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :slug, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :parent_id, class: "control-label" %>

              <%= f.select :parent_id, @organizations.where.not(id: params[:id]).collect { |org| [ org.slug + ' - ' + org.name, org.id ] }, { include_blank: '-- top level organization --'}, { class: 'form-control' } %>

          </div>
        </fieldset>


        <fieldset class="default_account_filter">
          <legend>Defaults</legend>

          <div class="form-group">
            <%= f.label :default_account_filter, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :default_account_filter, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
    <% else %>
        <div class="form-group">
          <%= f.label :name, class: "control-label" %>
          <div class="controls">
                <%= f.text_field :name, class: 'form-control input-xxlarge' %>
          </div>
        </div>
    <% end %>

    <% if has_role 'organization_admin' %>
        <fieldset class="lms_config collapse">
          <legend>LMS Information</legend>

          Supported LMS integrations
          <ul>
              <li>
                  Canvas - <a href="https://github.com/oasis4hedev/salsa/blob/releases/0.9/_install/canvas_integration.md" target="_blank">Integration Guide</a>
              </li>
          </ul>

          <div class="form-group">
            <%= f.label :lms_authentication_source, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :lms_authentication_source, class: 'form-control' %>
              <div class="help-block">
                  Canvas expects the format: <code>https://<em>instance</em>.instructure.com</code>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :lms_authentication_id, "LMS Client ID", class: "control-label" %>
            <div class="controls">
              <%= f.text_field :lms_authentication_id, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :lms_authentication_key, "LMS Authentication Key", class: "control-label" %>
            <div class="controls">
              <%= f.text_field :lms_authentication_key, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :lms_info_slug, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :lms_info_slug, class: 'form-control' %>
              <div class="help-block">
                  Canvas expects the format: <code>pages/_edit_gui_salsa</code> for the wiki pages (note use of pages, not wiki).
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <%= f.check_box :skip_lms_publish, class: '' %>
              <%= f.label :skip_lms_publish, class: "control-label" %>
              <div class="help-block">When enabled, the document:publish event will not try and publish the document to any configured LMS</div>
            </div>
          </div>

        </fieldset>

        <div class="form-group">
            <button data-toggle="collapse" data-target=".lms_config" type="button" class="lms_config collapse in">LMS Configuration</button>
        </div>
        <% if @organization.slug.start_with?("/") %>
          <% f.object = @organization.parents.last %>
          <%= render partial: "shibboleth_form", locals: {f: f} %>
          <% f.object = @organization %>
        <% else %>
          <%= render partial: "shibboleth_form", locals: {f: f} %>
        <% end %>
    <% end %>

    <% if @organization.slug.start_with?("/") %>
      <% f.object = @organization.parents.last %>
      <%= render partial: "settings", locals: {f: f}  %>
      <% f.object = @organization %>
    <% else %>
      <%= render partial: "settings", locals: {f: f}  %>
    <% end %>
    <div class="form-group">
      <%= f.submit class: 'btn btn-default' %>
      &nbsp;
      &nbsp;
      &nbsp;
      <%= link_to 'cancel', (@organization[:id] ? organization_path(id: @organization[:id], org_path: params[:org_path]) : organizations_path) %>
    </div>

  <% end %><!-- form -->
</div><!-- .row -->
