<% if @documents.length > 0 %>
  <%= form_tag('/organizations/documents', :html => { :class => "form-vertical" } ) do |f| %>
    <%= submit_tag 'submit', { class: 'pull-right'} %>
    <div class="control-group">
      <%= label_tag :id, 'Move selected documents: ', class: "control-label" %>
      <div class="controls">
        <%= select('organization', 'id', Organization.where.not(id: params[:id]).collect { |org| [ org.slug + ' - ' + org.name, org.id ] }, include_blank: true) %></p>
      </div>

      <a class="button" data-toggle="collapse" data-parent="form li" href="#salsaDocuments .collapse">
        show/hide all
      </a>
    </div>

    <ul class="nav nav-list" id="salsaDocuments">
      <% @documents.each do |document| %>
        <li class="nav-header checkbox">
          <%= check_box_tag "document_ids[]", document.id, false, id: "document_#{document.id}" %>
          <% if document.lms_published_at %>
              <div class="pull-right info">Published <%= time_ago_in_words document.lms_published_at %> ago</div>
          <% end %>
          <label for="<%= "document_#{document.id}" %>">SALSA <%= document.id %>: <%= document.name %></label>


          <time datetime="<%= document.created_at %>">Created <%= time_ago_in_words document.created_at %> ago</time>

          <% if time_ago_in_words(document.created_at) != time_ago_in_words(document.updated_at) %>
            <time datetime="<%= document.created_at %>">Updated <%= time_ago_in_words document.updated_at %> ago</time>
          <% end %>

          <a class="button" data-toggle="collapse" data-parent="#salsaDocuments" href="#<%= "document_#{document.id}_wrapper" %>">
            More Information for SALSA <%= document.id %>
          </a>
        </li>

        <li class="row-fluid collapse" id="<%= "document_#{document.id}_wrapper" %>">
          <div class='version info'>
            Version: <%= document.version %>
          </div>
          
        	<% if document.lms_published_at %>
  	      	<div>
  	  			  Published to:
  	  			  
              <% if document.organization[:lms_authentication_source] %>
    	  			  <a href="<%= document.organization[:lms_authentication_source] + '/courses/' + document.lms_course_id + '/assignments/syllabus' %>" target="_blank">
                  <%= document.organization[:lms_authentication_source] + '/courses/' + document.lms_course_id + '/assignments/syllabus' %>
                </a>
              <% end %>

              <% if document.lms_course_id %>
                (LMS Course ID: <%= document.lms_course_id %>)
              <% end %>
  	      	</div>
  	      <% end %>
  	    
        	<div>
            View: <%= link_to document_path(id: document.view_id), document_path(id: document.view_id), target: "_blank" %>
            <br>
            Edit: <%= link_to document_path(id: document.edit_id), document_path(id: document.edit_id), target: "_blank" %>
            
            <% if document.template_id %>
              <br>
              Template: <%= link_to document_path(id: document.template_id), document_path(id: document.template_id), target: "_blank" %>
            <% end %>
        	</div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= paginate @documents %>
<% else %>
  <p>
    No SALSAs have been created for this organization
  </p>
<% end %>