<% if @salsas.length > 0 %>
  <ul class="nav nav-list">
    <% @salsas.each do |salsa| %>
      <li class="nav-header">SALSA: <%= salsa.id %></li>
      <li class="row-fluid">
      	<% if salsa.lms_published_at %>
	      	<div>
		      	<code class="pull-right">Published at: <%= salsa.lms_published_at %></code>
	  			Published to:
	  			
	  			
	      	</div>
	    <% end %>
	    
      	<div>
          View: <%= link_to syllabus_path(id: salsa.view_id), syllabus_path(id: salsa.view_id) %>
          <br>
          Edit: <%= link_to syllabus_path(id: salsa.edit_id), syllabus_path(id: salsa.edit_id) %>
          
          <% if salsa.template_id %>
            <br>
            Template: <%= link_to syllabus_path(id: salsa.template_id), syllabus_path(id: salsa.template_id) %>
          <% end %>
      	</div>
      </li>
    <% end %>
  </ul>

  <%= paginate @salsas %>
<% else %>
  <p>
    No SALSAs have been created for this organization
  </p>
<% end %>