<% if session[:admin_authorized] %>
<%= form_for @organization, url: organization_path, method: :delete, html: { class: 'pull-right' } do |f| %>
  <div class="form-group">
    <%= f.submit "Delete #{@organization[:name]}", class: 'btn btn-danger' %>
  </div>
<% end %>
<% end %>

<h1>Update Organization</h1>

<div class="pull-right">

  <a class="btn btn-info" href="<%= canvas_accounts_path %>">
    <span class="glyphicon glyphicon-refresh"></span>
    LMS Accounts
  </a>

  <a class="btn btn-info" href="<%= canvas_courses_path %>">
    <span class="glyphicon glyphicon-refresh"></span>
    LMS Courses
  </a>
</div>

<%= render 'edit' %>
