
<div class="row">
  <h1>
    Organizations
  </h1>

  <div class="list-group col-md-6">
    <% @organizations.each do |org| %>
      <li class="list-group-item depth-<%= org.depth %>">
        <% unless !org.slug? or (org.slug.include? '/' and (org.slug.index('/') > 0)) %>
          <div class="depth-<%= org.depth %>"><%= link_to org[:name], organization_path( slug: full_org_path(org), org_path: params[:org_path]) %></div>
        <% else %>
          <a>
            <span class="badge pull-right alert-danger">bad slug</span>
            <%= "#{org[:name]} (id: #{org[:id]})" %>
          </a>
        <% end %>
      </li>
    <% end %>
  </div>
</div>

<% if session[:admin_authorized] %>
<div class="row">
  <div class="pull-right text-right">
    <%= link_to Document.where('documents.organization_id IS NULL AND documents.updated_at != documents.created_at').count.to_s + ' documents', organizations_path(org_path:params[:org_path]) %><br>
    <%= link_to Document.where('documents.organization_id IS NULL AND documents.updated_at = documents.created_at').count.to_s + ' abandoned', organizations_path( key: 'abandoned', org_path:params[:org_path]) %>
  </div>

  <h1>
    <% if params[:key] == 'abandoned' %>
      <strong>Abandoned</strong>
    <% end %>

    Orphaned SALSAs
  </h1>
</div>

<%= render 'show' %>
<% end %>
