
<div class="row">
  <h1 class="col-md-6">
    Organizations
  </h1>
  <% if has_role 'admin' %>
    <%= link_to 'Add Organization', new_organization_path(org_path: params[:org_path]), class: 'btn btn-success pull-right' %>
  <% end %>
  <div class="list-group col-md-12">
    <% @organizations.each do |org| %>
      <li class="list-group-item depth-<%= org.depth %>">
        <% unless !org.slug? or (org.slug.include? '/' and (org.slug.index('/') > 0)) %>
          <div class="depth-<%= org.depth %>"><%= link_to org[:name], organization_path( slug: full_org_path(org), org_path: params[:org_path]) %></div>
        <% else %>
          <a>
            <span class="badge pull-right alert-danger">bad slug</span>
            <%= "#{org[:name]} (id: #{org[:id]})" %>
          </a>
        <% end %>
      </li>
    <% end %>
  </div>
</div>
