<div class="pull-right text-right">
  <%= link_to @organization.documents.where('documents.updated_at != documents.created_at').count.to_s + ' documents', organization_path(id: @organization[:id]) %><br>
  <%= link_to @organization.documents.where('documents.updated_at = documents.created_at').count.to_s + ' abandoned', organization_path(id: @organization[:id], key: 'abandoned') %>
</div>

<h1 class="page-header">
  <% @organization.ancestors.each do |org| %>
    <small>
      <%= link_to org[:name], organization_path(id: org[:id]) %> &raquo;<br>
    </small>
  <% end %>

  <%= @organization[:name] %>
</h1>

<div id="organizationControl row">
  <% if @documents.length != 0 %>
    <p>
      <a class="btn btn-default" href="<%= edit_organization_path(id: @organization[:id]) %>">
        Edit Organization
      </a>

      <a class="btn btn-default" href="<%= components_path(organization_slug: @organization[:slug]) %>">
        Manage Components
      </a>
    </p>
  <% end %>
  <hr>
</div>


<div class="row">

<%= render 'show' %>

</div>
