<div class="pull-right text-right">
  <%= link_to @organization.documents.where('documents.updated_at != documents.created_at').count.to_s + ' documents', organization_path(id: @organization[:id]) %><br>
  <%= link_to @organization.documents.where('documents.updated_at = documents.created_at').count.to_s + ' abandoned', organization_path(id: @organization[:id], key: 'abandoned') %>
</div>

<h1 class="page-header">
  <% @organization.ancestors.each do |org| %>
    <%= link_to organization_path(org.slug) do %><small><%= org.name %> &raquo;<br></small><% end %>
  <% end %>

  <%= @organization[:name] %>
</h1>

<div id="organizationControl row">
  <div class="pull-right">
    <!-- Trigger the modal with a button -->
    <% if has_role 'organization_admin' %>
      <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#republishSearch">Republish...</button>
    <% end %>

    <a target="_blank" class="btn btn-success" href="//<%= "#{org_slug_parts(@organization)[0]}#{redirect_port}" %><% if @organization.depth > 0 %>/<%= org_slug_parts(@organization)[1] %><% end %>/SALSA/new">
      <span class="glyphicon glyphicon-plus"></span>
      SALSA
    </a>
  </div>

  <p>
    <% if has_role 'organization_admin' %>
      <a class="btn btn-default" href="<%= edit_organization_path(id: @organization[:id]) %>">
        Update Organization
      </a>

      <a class="btn btn-default" href="<%= components_path(organization_slug: @organization[:slug]) %>">
        Manage Components
      </a>

      <% if @organization.lms_authentication_key != '' %>
          <a class="btn btn-default" href="//<%= "#{org_slug_parts(@organization)[0]}#{redirect_port}" + admin_auditor_reports_path %>">
            View Dashboard
          </a>
      <% end %>

      <a class="btn btn-default" href="<%= periods_path(slug: @organization[:slug]) %>">
        Manage Periods
      </a>

    <% end %>
    <% if @organization.enable_workflows && has_role('supervisor', get_org) %>
      <a class="btn btn-default" href="<%= start_workflow_form_path(slug: @organization[:slug]) %>">
        Start Workflows
      </a>
      <a class="btn btn-default" href="<%= workflow_steps_path(params[:slug]) %>">
        Workflow Steps
      </a>
      <a class="btn btn-default" href="<%= organization_import_users_path(params[:slug]) %>">
        Import Users
      </a>
      <a class="btn btn-default" href="<%= organization_users_path(params[:slug]) %>">
        Users
      </a>

    <% end %>
    <hr>
  </p>

</div>


<div class="row">

<%= render 'show' %>

</div>
