<div class="page-header">
  <h1>
    <%= link_to organization_path(params[:slug], org_path:params[:org_path]) do %><small><%= @organization.name %></small><% end %>
    <br>
    <%=t '.title', :default => "Start Workflow" %>
  </h1>
</div>

<%= form_for("Start Workflow", url: start_workflow_path(org_path: params[:org_path]), html: { class: "form-horizontal col-md-9" } ) do |f| %>

  <div class="form-group">
    <%= f.label :document_name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :document_name, class: 'form-control input-xxlarge' %>
    </div>
  </div>

    <div class="form-group">
      <%= f.label :starting_workflow_step_id, class: "control-label" %>
      <div class="controls">
        <%= f.collection_select :starting_workflow_step_id, @workflow_steps, :id, :to_s, {include_blank: true},{class:"form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :period_id, class: "control-label" %>
      <div class="controls">
        <%= f.collection_select :period_id, @periods, :id, :to_s, {include_blank: true},{class:"form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :start_for_sub_organizations, class: "control-label" %>
      <%= f.check_box :start_for_sub_organizations, checked: true,class:"btn" %>
    </div>

<div class="form-group">
  <%= f.submit "Start Workflow for period", class: 'btn btn-default' %>
</div>

<% end %>
