<%- model_class = WorkflowStep -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @workflow_step.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
  <dd><%= @workflow_step.slug %></dd>
  <dt><strong><%= model_class.human_attribute_name(:next_workflow_step_id) %>:</strong></dt>
  <dd><%= WorkflowStep.find(@workflow_step.next_workflow_step_id).slug if @workflow_step&.next_workflow_step_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              workflow_steps_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_workflow_step_path(params[:slug],@workflow_step), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              workflow_step_path(params[:slug],@workflow_step),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
