<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">

<title>Syllabus Builder</title>
<meta name="description" content="">

<meta name="viewport" content="width=device-width">
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tag %>
</head>
<body id="edit_syllabus">
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome </a> to experience this site.</p><![endif]-->

<div id="editor_view">
    <%= render :partial => 'layouts/global/toolbar' %>

    <div id="wrapper">

        <%= render :partial => 'layouts/global/section_nav' %>

        <%= render :partial => 'layouts/global/control_panel' %>

        <div role="main" id="container">
            <div id="page" class="editor_controls">
                <div id="page-data" data-view-id="<%= @syllabus.view_id %>">
                    <%= yield %>
                </div>
            </div>
        </div>

        <%= render :partial => 'layouts/global/content_toolbar' %>
    </div>

    <%= render :partial => 'layouts/global/footer' %>
</div>

<%= render :partial => 'layouts/global/example' %>
<%= render :partial => 'layouts/global/help' %>

</body>
</html>
