<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">

<title>My SALSA</title>
<meta name="description" content="">

<meta name="viewport" content="width=device-width">
<%= stylesheet_link_tag 'gui' %>
<%= stylesheet_link_tag 'application', media: "all" %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tag %>
</head>
<body id="edit_syllabus">
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome </a> to experience this site.</p><![endif]-->

<div id="editor_view">
    <%= render :partial => "#{@view_folder}/toolbar" %>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <div id="wrapper">

        <%= render :partial => "#{@view_folder}/section_nav" %>

        <%= render :partial => "#{@view_folder}/control_panel" %>

        <div role="main" id="container">
            <div id="page" class="editor_controls">
                <div id="page-data" data-view-id="<%= @syllabus.view_id %>">
                    <%= yield %>
                </div>
            </div>
        </div>

        <%= render :partial => "#{@view_folder}/content_toolbar" %>
    </div>

    <%= render :partial => "#{@view_folder}/footer" %>
</div>

<%= render :partial => "#{@view_folder}/example" %>
<%= render :partial => "#{@view_folder}/help" %>

</body>
</html>
