<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <title><%= content_for?(:title) ? yield(:title) : "Salsa: styled & accessible learning service agreements" %></title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "home", :media => "all" %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <h1>
            <a href="<%= new_document_path %>"><img src="/img/home/hero.jpg" alt="SALSA"></a>
          </h1>

          <div class="container">
            <div class="carousel-caption">
              <p>
                Styled &amp; Accessible Learning
                <br>
                Service Agreements
              </p>
              <a class="btn btn-lg btn-primary" href="<%= new_document_path %>" role="button">Create your <abbr title="Styled and accessible learning service agreement">SALSA</abbr></a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <div class="content">

      <%= yield %>

      <%= render 'footer' %>
    </div><!-- .content -->

    <p class="sr-only pull-right"><a href="#">Back to top</a></p>

    <%= javascript_include_tag "home" %>

    <%= render :partial => "/default/analytics.js" %>
  </body>
</html>